@model IEnumerable<Garage2._0.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Parked Vehicles";
}

<h1 class="text-light bg-info border rounded-lg p-3" >Parked Vehicles</h1>
<form class="text-light bg-info border rounded-lg" asp-action="Filter">
    <div class="input-group m-auto">
        <input type="text" name="regNo" class="form-control" placeholder="Search on RegNo." />
        <div class="input-group-append">
            <select name="type" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary "><i class="fa fa-search">&emsp;Search</i></button>
        </div>
        
    </div>
    @*<p>
        <label for="freePlaces"></label>
    </p>*@
</form>
<p>
    <div class="btn-group col-sm-3 col mr-5 ">
        <a class="btn btn-outline-primary " asp-action="Create">Check In</a>
    </div>
    <div class="btn-group col-sm-3 ml-5">
        <a asp-action="GetStatistic" class="btn btn-outline-success" ><i class="fa fa-search">Statistic</i></a>
    </div>

</p>
<p>
    @*<label for="@ViewBag.NoOfFreePlace"></label>*@
    <label>No. of Free Places:</label> @ViewBag.NoOfFreePlaces
    @*@Html.Label("No. of Free Places", (string)ViewBag.NoOfFreePlace)*@
</p>
<p>
    @*@Html.Label("No. of Free Places for Motorcycle", (string)ViewBag.NoOfFreePlaceMotorcycle)*@
    <label>No. of Free Places for Motorcycle:</label> @ViewBag.NoOfFreePlacesForMotorcycle
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                <div>
                    <a asp-action="Sort" asp-route-columnName="Type" class="btn btn-primary"><i class="fa fa-search">Sort</i></a>
                </div>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                <div>
                    <a asp-action="Sort" asp-route-columnName="RegNo" class="btn btn-primary"><i class="fa fa-search">Sort</i></a>
                </div>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                <div>
                    <a asp-action="Sort" asp-route-columnName="Color" class="btn btn-primary"><i class="fa fa-search">Sort</i></a>
                </div>
                @Html.DisplayNameFor(model => model.Color)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfWheels)
        </th>*@
            <th>
                <div>
                    <a asp-action="Sort" asp-route-columnName="CheckInTime" class="btn btn-primary"><i class="fa fa-search">Sort</i></a>
                </div>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            <th>
               
                
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfWheels)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CheckOutTime)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Check Out</a>
            </td>
        </tr>
}
    </tbody>
</table>
